PORT=
FRONTEND_URL=
BUSINESS_TIMEZONE=America/New_York
SOLACE_URL=
SOLACE_VPN=
SOLACE_USERNAME=
SOLACE_PASSWORD=

SOLACE_REQUESTS_TOPIC=shipment/requests
SOLACE_REQUESTS_QUEUE=shipment.requests

SOLACE_RESULTS_TOPIC=shipment/results
SOLACE_RESULTS_QUEUE=shipment.results

SOLACE_ASSIGNMENTS_TOPIC=shipment/assignments
SOLACE_ASSIGNMENTS_QUEUE=shipment.assignments

DATABASE_URL=""